

@media screen and (min-width: 0px) and ( max-width: 480px ){
    body {
        background: red  ;
	color: cyan ;
    }
}


@media screen and (min-width: 481px) and ( max-width: 765px ) {
    body {
        background: green  ;
	color: magenta;
    }
}



@media screen and (min-width: 766px) and ( max-width: 991px ) {
    body {
        background: blue;
	color: yellow;
    }
}


@media screen and (min-width: 992px) {
    body {
        background: orange;
	color: black;
    }
}

