<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Usuarios</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="alertNewUser()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item *ngIf="users.length == 0">
      Sin usuarios
    </ion-item>
    <ion-item-sliding *ngFor="let user of users; let i = index">
      <ion-item>
        <ion-input (change)="updateUser(user, i)" [(ngModel)]="user.name"></ion-input>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>